<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're ready to start on your new journey!</h1>
    <p> 
      You have successfully created your new character, <%= @name %>.<br>
    </p>
    <p>
    You can jump right into a new dive, or you can spend your money on a starting companion! If you would like to change your stats or avatar image, you'll have to spend some of your credits on the edit screen. Happy Diving!
    </p>
  </body>
</html>