<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've got a new companion!</h1>
    <p> 
      You have successfully added a new pet to the team! Welcome <%= @name %>.<br>
    </p>
    <p>
    <%= @type %> pets are <%= @description %>
    </p>
    <p>Don't forget to feed and pet your new friend!</p>
  </body>
</html>